.search-box
{
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 10px;
    padding: 4px;
    border: none;
    margin-bottom: 20px;
}

.search-box:focus
{
    outline: 0px;
}